/* dimensions */

$page-gutter: .5em;
$page-negative-gutter: -.5em;
$component-height: 2.5em;
$global-top-margin: 0em;
$global-bottom-margin: 1em;
$link-outline: none;
$footer-height: 6em;

/* colours */ 

$color-link: #003399;
$color-link-hover: #FF9900;
$color-link-visited: #006600;
$color-link-active: #990000;

$color-component-idle: #F6F6F6;
$color-component-hover: #C0DA07;

$color-primary: #000077;
$color-secondary: #219B00;
$color-body: #333333;
$color-footer: #666666;

$color-border: #D8D8D8;
$color-border-dk: #999999;

$color-neutral: #FFFFFF;

