.button{
}

img{
border:0px;
padding:10px;
}

a:link { color:black; text-decoration: none; }
A:visited { color:black; text-decoration:none;}

html{
background:url(../images/bg.png);
}

Body{
}

h1{
color:white;
}

.main{
color:black;
background-color:#e8e8e8;
padding:20px;
}

.flag{
}

.emailAccount{
}

.phoneNumber{
font-size:20px;
}

.smsNumber{
font-size:20px;

}

.website{
}

.naviBar{
}

.bankAccount{
}

#splash{
background:url(../images/splash.png);
height:800px;
}

